:root {
  --popover-background: #f9fafb; /* Light mode (bg-zinc-100) */
}

.dark {
  --popover-background: #18181b; /* Dark mode (bg-zinc-900) */
}

[data-radix-popper-content-wrapper] {
  background-color: var(--popover-background) !important;
  opacity: 100 !important;
  z-index: 10 !important;
}
